:root {
  --primary-color: #edf1f4; /* fundo da página e borda dos botões */
  --secondary-color: #fff; /* fundo da calculadora, do display e dos botões */
  --button-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px #fff; 
  --inset-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2), inset -5px -5px 10px #fff; /* sombra dos botões pressionados (active) e display */
  --font-color: #333; 
  --calculator-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2), -15px -15px 20px #fffb; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
}
.page {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--font-color);
}
.menu {
  max-width: 460px;
  margin: 0 auto;
}
.form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px 0 40px;
}
.form__input {
  visibility: hidden;
}
.form__label {
  padding-left: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.form__radio-button-overlay {
  position: absolute;
  top: 22px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--font-color);
}
.form__input_light:checked + .form__radio-button-overlay_light {
  background-color: var(--font-color);
}
.form__input_dark:checked + .form__radio-button-overlay_dark {
  background-color: var(--font-color);
}

.content {
  padding-bottom: 40px;
}
.calculator {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 460px; 
  min-height: 600px;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  box-shadow: var(--calculator-shadow);
}
.calculator__display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 150px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: var(--inset-shadow);
  padding: 10px;
  text-align: end;
}
.calculator__upper-display {
  font-size: 1.5rem;
}
.calculator__bottom-display {
  font-size: 1.8rem;
  word-wrap: break-word;
  word-break: break-all;
}
.calculator__keys {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}
.calculator__key {
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: var(--button-shadow);
  font-size: 1.25rem;
  color: var(--font-color);
  cursor: pointer;
}
.calculator__key:active {
  box-shadow: var(--inset-shadow);
}
.calculator__key_span {
  grid-column: span 2;
}